html {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: VT323, sans-serif;
  font-size: 22px;
  background-color: rgb(8, 9, 10);
  color: hsl(0, 0%, 88%)
}

body {
  display: block;
  margin: 0 auto;
  width: 40%;
  max-width: 600px;
}

body a {
  color: #df0000;
}

section {
  margin-bottom: 2em;
}
  
h1 {
  text-align: center;
  font-size: 46px;
  margin: 0.8em 0;
  color: rgb(225, 196, 180)
}

h2 {
  font-size: 28px;
  margin: 0;
}

h2, .character {
  color: rgb(250, 180, 0)
}

h1, h2 {
  font-family: "Press Start 2P", serif;
}

#art {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2.4em;
}

figure {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

p, figcaption {
  font-size: 22px;
}

#img-div {
  margin-bottom: 2em;
}

#concept {
  display: block;
  margin-left: -3vw;
  max-width: 498px;
  aspect-ratio: 498 / 685;
}

#face {
  max-width: 486px;
  aspect-ratio: 486 / 683;
}

#weapons {
  max-width: 648px;
  aspect-ratio: 648 / 684;
}

#transform {
  max-width: 625px;
  aspect-ratio: 625 / 682;
}

#cover {
  max-width: 500px;
  aspect-ratio: 5 / 7;
}

blockquote {
  border-left: 3px solid #c00;
  margin-left: 0;
  padding-left: 12px;
  margin-bottom: 2.5rem;
}

blockquote:last-of-type {
  margin-bottom: 0;
}

.character {
  font-family: "Press Start 2P";
  font-size: 14px;
  vertical-align: -2px;
}

hr {
  margin: 0;
}

footer {
  padding-bottom: 2em;
}
