@font-face {
  font-family: "Final Fantasy Regular";
  src:url(fonts/Final-Fantasy-Regular/Final-Fantasy-Regular.ttf.woff) format(woff),
      url(fonts/Final-Fantasy-Regular/Final-Fantasy-Regular.ttf.svg#Final-Fantasy-Regular) format(svg),
      url(fonts/Final-Fantasy-Regular/Final-Fantasy-Regular.ttf.eot),
      url(fonts/Final-Fantasy-Regular/Final-Fantasy-Regular.ttf.eot?#iefix) format(embedded-opentype);
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Share Tech Mono", sans-serif;
  font-size: 18px;
  background-color: rgb(8, 9, 10);
  color: hsl(0, 0%, 88%)
}

body {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 650px;
}

body a {
  color: #df0000;
}

section {
  margin-bottom: 2em;
}
  
h1 {
  text-align: center;
  font-size: 3em;
  margin: 0.6em 0;
  color: rgb(225, 196, 180)
}

h2 {
  font-size: 2em;
  margin: 0;
}

h2, .character {
  color: rgb(250, 180, 0)
}

h1, h2, .character {
  font-family: "Final Fantasy Regular", serif;
}

#art {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2.4em;
}

figure {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

#img-div {
  margin-bottom: 2em;
}

#concept {
  display: block;
  margin-left: -3vw;
  max-width: 498px;
  aspect-ratio: 498 / 685;
}

#face {
  max-width: 486px;
  aspect-ratio: 486 / 683;
}

#weapons {
  max-width: 648px;
  aspect-ratio: 648 / 684;
}

#transform {
  max-width: 625px;
  aspect-ratio: 625 / 682;
}

#cover {
  max-width: 500px;
  aspect-ratio: 5 / 7;
}

blockquote {
  border-left: 3px solid #a00;
  margin-left: 0;
  padding-left: 12px;
  margin-bottom: 2em;
}

blockquote:first-of-type {
  margin-top: 22px;
}

blockquote:last-of-type {
  margin-bottom: 0;
}

.character {
  font-size: 13.5px;
}

hr {
  margin: 0;
}

footer {
  padding-bottom: 2em;
}
